header {
    display: flex;
    align-items: center;
    height: 3.1rem;
    padding-left: 1rem;
    background-color: #3d3a3a;
    font-size: 1.5rem;

    z-index: 1000;

    box-shadow: 0 3px 6px -6px black;

    -webkit-app-region: drag;
}

.header-stepper-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    align-items: center;
}

.header-stepper {
    display: flex;
    justify-content: center;
    align-items: center;

    &__separator {
        margin: 0 2rem;
        display: flex;
        background-color: rgba(255, 255, 255, 0.87);
        width: 4rem;
        height: 2px;
    }

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        border: 2px solid rgba(255, 255, 255, 0.87);

        &.selected {
            border-color: #08520e;
        }
    }

    &.selected {
        .header-stepper__icon {
            border-color: #14801d;
            color: #14801d;
        }

        .header-stepper__separator {
            background-color: #14801d;
        }
    }
}
