.tabs {
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
    margin-bottom: -0.3rem;
    overflow: visible;
    margin-left: 2rem;
}

.tab-selector {
    display: flex;
    justify-content: center;
    height: 4.3rem;
    width: 6rem;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    border: 2px solid #3d3a3a;
    border-bottom: transparent;
    margin: 0 0.5rem;
    cursor: pointer;
    transition: 0.1s;
    color: #666;

    &:hover {
        border-color: #666;
        transform: translateY(-0.3rem);
        color: rgba(255, 255, 255, 0.87);
    }

    & > * {
        margin-top: 0.8rem;
    }

    &.active {
        border-color: #666;
        transform: translateY(-0.3rem);
        color: rgba(255, 255, 255, 0.87);
    }

    &--green-border {
        border-color: #14801d !important;
        color: #14801d !important;
    }
}
