main {
    overflow-y: auto;
    max-height: 67rem;

    &::-webkit-scrollbar {
        position: relative;
        z-index: 1001;
        width: 20px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background-color: #3d3a3a;
        box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.15);
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #555;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: #666;
    }
}
