.authentication-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8rem;
}

.form-input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    width: 50%;
}

input[type="password"],
input[type="text"] {
    padding: 1rem 2rem;
    font-size: 2rem;
    background-color: #3d3a3a;
    border: 2px solid #666;
    border-radius: 6px;
    color: rgba($color: #fff, $alpha: 0.87);

    &:focus-visible {
        border-color: rgba($color: #fff, $alpha: 0.6);
        outline: none;
    }
}
