.custom-selector-container {
    display: flex;
    justify-content: center;
    padding: 2rem 0 2.5rem 0;
    gap: 1rem;
}

.selector-button {
    text-transform: capitalize;

    &:has(&__tick) {
        outline: 2px solid #187018;
    }
}
