body {
    box-sizing: border-box;
    font-size: 1.6rem;
    margin: 0;
    overflow: hidden;
}

:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 10px;
    line-height: 24px;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

.boundary {
    max-width: 68rem;
    margin: auto;
}

.layout {
    @extend .boundary;
    height: calc(100vh - 9.5rem);
}

// button reset
button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;

    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
}

// anchor reset
a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}

.tile {
    border-radius: 6px;
    background-color: #302c2c;
    cursor: pointer;
    user-select: none;
    box-shadow: 0 3px 12px -1px rgba(0, 0, 0, 0.5);
    transition: 0.1s;
    outline: 2px solid transparent;

    &.selected {
        outline: 2px solid #187018;
    }

    &:active {
        transform: translateY(0.3rem);
        box-shadow: 0 3px 6px -3px rgba(0, 0, 0, 1);
    }
}

.button {
    @extend .tile;
    box-shadow: 0 3px 4px -1px rgba(0, 0, 0, 0.5);
    padding: 1rem 2rem;

    &--wide {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    &:active {
        transform: translateY(0.2rem);
        box-shadow: 0 3px 4px -3px rgba(0, 0, 0, 0.3);
    }
}

.next-button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 2rem 0;
    margin-right: 1rem;

    .next {
        margin-left: auto;
    }

    .back {
        margin-right: auto;
    }
}
