.tile-container {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
    width: 66rem;
    margin: 0 auto;
}

.media-tile {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 17rem;
    width: 15rem;
    flex-direction: column;

    &:has(&__tick--active) {
        outline: 2px solid #187018;
        box-shadow: 0 3px 1px -3px black;
    }

    &__tick {
        position: absolute;
        top: 0.4rem;
        right: 0.4rem;
        transition: 0.1s;
        opacity: 0;

        &--active {
            opacity: 1;
        }
    }

    &__name {
        margin-top: 1.2rem;
        text-transform: capitalize;
    }
}
